:root{
    --background: #ffffff;
    --text-primary: #000;
    --text-secondary: #000;
    --table-head: #d5d6d7;
    --text-head: #9e9e9e;
    --pagination-footer: #4c4f52;
    --number-selected: #5c5c5c;
    --label: #111;
}

[data-theme='dark']{
    --background: #292929;
    --text-primary: #ffffff;
    --text-secondary: #ffffff;
    --text-head: #ffffff;
    --table-head: #232240;
    --pagination-footer: #ffffff;
    --label: #111;
}

body{
    background-color: var(--background);
    transition: background 0.2s linear;
    overflow-x: hidden;
}

.containerUp-v{
    width: 100vw;
    height: 100vh;
    display: block;
    transition: all .4s;
    background-color: var(--background);
    color: var(--text-primary);
}

.label{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    position: relative;
    height: 5px;
    width: 23px;
    float: right;
    margin: 10px;
    transform: scale(1.5);
    cursor: pointer;
    transform: translate(0px);
}

.label:active{
    cursor: default;
}

.btnInfo{
    background-color: var(--background);
    color: var(--text-primary);
}

.btn-add-patrimonio{
   float: left;
   margin: 10px;
}

.tableContainer-verification {
    width: 65%;
    overflow: hidden;   
    border-radius: 0.5rem;
    margin-left: 15%;

}

.subContainer{
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    white-space: nowrap;
    border-collapse: collapse;
}

.thead {
    color: var(--text-head);
    letter-spacing: 0.025em;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
    background-color: var(--table-head)
}

td {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;   
}

.btn-finalizar{
    background-color: #48578B;
    border: none;
    width: 90px;
    height: 40px;
    margin: 10px 70% 100px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

tr {
    border-bottom-width: 1px;
}

.id-object {
    font-weight: 600;
    margin: 0;
}

.tabbleFooter {
    color: #707275;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.75rem;
    background-color: var(--table-head);
    line-height: 1.5;
}

.pagination{
    padding-top: 0.75rem;
    color: var(--pagination-footer);
    font-size: 0.75rem;
    justify-content: space-between  ;
    display: flex;
    margin-top: 0.8rem;
}

.pagination span {
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-weight: 600;
    align-items: center;
    display: flex;
    font-size: 0.75rem;
}

nav ul {
    align-items: center;
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.arrows {
    color: var(--pagination-footer);
    padding: 0.5rem;
    display: inline-flex;
    cursor: pointer;
    border-width: 1px;
    border-radius: 0.375rem;
    border-color: transparent;    
}

.numberSelected {   
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    line-height: 1.25rem;
    font-size: 0.80rem;   
    cursor: pointer;
    border-width: 2px;
    border-radius: 0.375rem;
    border-color: transparent;
    background-color: var(--number-selected);
    color: var(--text-primary);
}

.number{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.80rem;
    cursor: pointer;
    border-width: 2px;
    border-color: transparent;
    color: var(--text-primary);
}

.tableContainer-verification button {
    align-items: center;
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
}



.btn-finaliza{
    background-color: #48578B;
    border: none;
    width: 100px;
    height: 40px;
    margin-right: 20%;
    margin-top: 5%;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    float: right;
}


.subContainer .btn-add-patrimonio.btn-archive{
    background-color: #48578B;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    display:flex;
    align-items: center;
    justify-content: center;   
    cursor:pointer;
}


@media  (max-width: 1070px) and (min-width: 471px){

    .containerUp-v{
      display: block;
    }


    .checkbtn{
        font-size: 20%;
        display: flex;
        text-align: center;
    }

    .btn-finalizar{
        margin-left: 65%;
    }
}



@media  (max-width: 470px){

    .containerUp-v{
        width: 100vw;
        height: 100vh;
        transition: all .4s;
        background-color: var(--background);
        color: var(--text-primary);
        display: block;
    }

    .tableContainer-verification {
        width: 85%;
        overflow: hidden;
        border-radius: 0.5rem;
        margin: auto;
    }

    .col {
        display: block;
    }

    .checkbtn{
        width: 90%;
        height: 30px;
        margin:10px  0 auto;
        font-size: 14px;
    }

}