.modalContentPatrimonio-dark h1{
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
    width: 95%;
    margin: 5px;
}

.modalContentPatrimonio-dark{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 600px;
    margin: 120px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    background-color: #3C3C3C;
}

.modalContentPatrimonio-dark label{
    display: block;
    margin: 5px;
    font-size: 13px;
    font-weight:bold ;

    color: rgb(255, 255, 255);

}

.modalContentPatrimonio-dark input select{
    width: 200px;
    height: 25px;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin: 5px;
    background-color: #4A4A4A;
}

.modalContentPatrimonio-dark button{ 
    background-color: #4736ab;
    border: none;
    color: #fff;
    font-weight: bold;
    width: 210px;
    height: 40px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 30px;
    
}

/*------------------------------------------------------*/

.modalContentPatrimonio-light h1{
    font-size: 20px;
    margin-bottom: 5px;
    width: 95%;
    margin: 5px;
}

.modalContentPatrimonio-light{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    margin: 120px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    background-color: #ffffff;
}

.modalContentPatrimonio-light label{
    display: block;
    margin: 5px;
    font-size: 13px;
    font-weight:bold ;
    color: rgb(0, 0, 0);
}

.modalContentPatrimonio-light input select{
    width: 200px;
    height: 25px;
    border: none;
    border-radius: 2px;
    margin: 5px;
    color: #fff;
    background-color: #fff;
    border: solid 1px #D9D9D9;

}

.modalContentPatrimonio-light button, .modalContentPatrimonio-light label#new{ 
    background-color: #0f3bd9;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    height: 40px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin-top: 1rem;
    display: flex;
    align-items:center;
    justify-content: center;
}

/*------------------------------------------------------*/


.container-new-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

.title #info-modal{
    font-size: 12px;
    color: #9DA5A9;
}

.containerOne{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#selectSituation{
    width: 350px;

}

.containerTwo{
    display: flex;
    flex-direction: column;
}

.containerTwo select{
    width: 350px;
}

.containerTwo input{
    width: 350px;
    border: 1px solid rgba(157, 157, 157, 0.42);
    height: 20px;
}

.containerThree{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 4px;
}

.containerThree input{
    width: 170px;
    border: 1px solid rgba(157, 157, 157, 0.42);
    height: 20px;
}

.containerThree label{
    font-size: 13px;
}

.addImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.addImage button{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: none;
    color: #3F48CC;
    border: 1px solid #3F48CC;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.addImage button:hover{
    background-color: #ededee;
    border: 1px solid #9c9cd3;
}

.containerButton{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerButton button{
    margin: 10px;
}

.containerButton #new:hover{
    background-color: #0d2786;
}

.containerButton #new.green{
    background:#29a329;
}

.containerButton #new.green:hover{
    background:#009933;
}

.containerButton #delete:hover{
    background-color: #b42222
}

.containerButton .alert{
    font-size:.8rem;
    color:rgba(0,0,0,0.7)
}

#dark{
    color: #ffffff;
}