.modal-verification-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: #fff;
    width: 350px;
}

.modal-verification-content p{
    font-size: 20px;
}

.containerInfoVerification{
    margin: 15px;
}

.containerButtonsModalVerification{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;

}

.containerButtonsModalVerification button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 0;
    background: none;
}

.containerButtonsModalVerification div{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.containerButtonsModalUser button:hover{
    cursor: pointer;
}